@media (max-width: 700px) {
  .barra_menu {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
  .barra_menu ul {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .menu li {
    text-align: center;
    margin-bottom: 5px;
    width: 120px;
    margin: 5px !important;
  }
  .introdução,
  p {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    font-size: 0.7em;
  }
  .texto_amazonia {
    margin: 0;
    padding: 0 !important;
  }
  .poema_rio {
    justify-items: center;
  }
  .indio_info p {
    font-size: 0.6em;
  }
  .indios {
    grid-template-columns: 2fr 200px;
    justify-content: center;
  }
  .indio img {
    margin-top: 115px;
    height: 300px;
  }
  .contato {
    display: grid;
    grid-template-columns: 1fr;
  }
  .poema {
    padding: 0;
    padding-bottom: 20px;
    justify-items: center;
  }
}
