body,
a,
h1,
h2,
ul,
p {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Tienne", serif;
  background: #f9fcfb;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.fundo {
  padding-top: 150px;
}
/*Bloco de linhha de codigo universal do site*/

/*Fim de bloco deLinhha de codigo universal do site*/

/*Section Intro*/
.barra_menu {
  padding: 10px 50px;
  background: linear-gradient(91.93deg, #e8e46e 4.92%, #64cfa1 50.64%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}
.logo {
  font-size: 2.5em;
  font-weight: 900;
  color: #4b5c4a;
}
.barra_menu ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3em;
  align-items: right;
  justify-content: right;
}
@media (max-width: 400px) {
  .barra_menu {
    grid-template-columns: 1fr;
  }
  .barra_menu ul,
  h1 {
    justify-content: center;
    display: grid;
  }
  .menu li {
    text-align: center;
    margin-bottom: 5px;
    width: 150px;
  }
}
.barra_menu ul a {
  font-size: 0.9em;
  color: #4b5c4a;
}
@media (min-width: 500px) {
  .barra_menu li + li {
    margin-left: 30px;
  }
}
.menu li {
  display: block;
  padding: 5px;
  background: #e9e46f;
  border-radius: 5px;
  transition: 0.2s;
}

.menu li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.introdução {
  overflow: hidden;
  width: 100%;
  margin: 74px auto 100px auto;
  background: url("../img/fundo-intro.png") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.texto_amazonia {
  margin-left: 50px;
  height: 450px;
  padding-top: 100px;
}
.introdução p {
  max-width: 500px;
  align-items: center;
  font-size: 1.322em;
  color: #e9e46f;
  opacity: 100%;
  letter-spacing: 0.1em;
}

.introdução p:first-child {
  padding-bottom: 10px;
}

/*Fim da Section Intro*/

/*section comentario*/

.comentario {
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  padding-top: 80px;
  box-sizing: border-box;
  font-style: italic;
  text-align: center;
  background: #24b274;
  color: #e6dd3b;
}
.comentario p {
  font-size: 1.125em;
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 40px;
}
.citacao::before,
.citacao::after {
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background: #faff00;
  margin: 50px auto;
}
.citacao::after {
  margin-bottom: 0;
}

/*Fim da Section comentario*/

/*section animais*/
.animais {
  padding-top: 100px;
  box-sizing: border-box;
}
.box-1 {
  background: url(../img/imagem-fundo-animais.jpg) no-repeat center;
  background-size: cover;
  padding: 70px 50px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 10px;
  justify-items: stretch;
  grid-template-areas:
    " chifre coruja bicho uacari capivara harpia"
    " cururu coruja cascavel uacari sucuri harpia"
    " formiga jacaretinga cascavel prego sucuri harpia";
}

.harpia {
  grid-area: harpia;
}
.chifre {
  grid-area: chifre;
}
.cururu {
  grid-area: cururu;
}
.formiga {
  grid-area: formiga;
}
.coruja {
  grid-area: coruja;
}
.jacaretinga {
  grid-area: jacaretinga;
}
.bicho {
  grid-area: bicho;
}
.cascavel {
  grid-area: cascavel;
}
.uacari {
  grid-area: uacari;
}
.prego {
  grid-area: prego;
}
.capivara {
  grid-area: capivara;
}
.sucuri {
  grid-area: sucuri;
}

/*Fim da Section animais*/
/*Peoma_rio*/

.poema_rio {
  max-width: 100%;
  height: 500px;
  background: url(../img/logoa.jpg) no-repeat center;
  background-size: cover;
  background-position: bottom;
}
.vem_pescar {
  box-sizing: border-box;
  padding: 5px 30px;
  width: 400px;
  height: 500px;
  margin-left: 50px;
  background: rgba(77, 103, 61, 59%);
  color: #fff338;
  text-align: center;
  font-size: 0.72em;
  letter-spacing: 0.1em;
  line-height: 2.5em;
}
.vem_pescar h2,
cite {
  margin: 10px auto 5px auto;
}
.vem_pescar cite {
  display: block;
  text-align: end;
}
/* Fim Poema_rio*/

/*citacao-indio*/
.citacao-indio {
  color: #2b2525;
  text-align: center;
  font-style: italic;
}
.citacao-indio p {
  font-size: 1.125em;
}
.citacao.citacao-indio::before {
  background: #9fddc2;
  margin-top: 100px;
}
.citacao.citacao-indio::after {
  background: #9fddc2;
}
/* Fim citacao-indio*/

/*section indio*/

.indios {
  width: 100%;
  height: 600px;
  padding: 70px 50px;
  box-sizing: border-box;
  background: #e8e46e;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.indio_info {
  color: #193e2d;
}
.indio_info h1 {
  font-size: 3em;
  margin-bottom: 30px;
}
.indio_info p {
  text-align: justify;
  max-width: 500px;
  height: auto;
  font-size: 1em;
  margin-bottom: 5px;
}
.indio {
  max-width: 300px;
  max-height: 500px;
}

/*fim section indio*/

/*peoma*/

.poema {
  padding: 0 50px 50px 0;
  width: 100%;
  background: url(../img/amazonia.jpg) no-repeat center fixed;
  background-size: cover;
  display: grid;
  justify-items: right;
  box-sizing: border-box;
}
.texto_poema {
  display: grid;
  min-width: 400px;
  background: #e3ee65;
  align-items: center;
  justify-items: end;
  color: #4d673d;
}
.texto_poema p {
  max-width: 300px;
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.12em;
  line-height: 2em;
}
.texto_poema cite {
  padding: 10px;
  max-width: 250px;
  font-size: 0.7em;
  text-align: right;
}
/*Fim peoma*/

/*Footer*/

.contato {
  width: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 5fr;
  color: #193e2d;
}

.perfil {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  text-align: center;
  background: #e9e46f;
}
.perfil p {
  font-size: 1.25em;
  font-weight: bold;
}
.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto 10px auto;
}
.perfil_info {
  padding: 30px 50px;
  background: #24b274;
}

.perfil_info li {
  margin: 15px 0;
}
.perfil_info li img {
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 0;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}

.perfil_info a {
  color: #193e2d;
}

footer {
  height: 50px;
  color: #fff;
  width: 100%;
  background: #090104;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
